body { 
  margin: 0;
}

header {
  height: 8vh;
  line-height: 7vh;
  padding-left: 0.7em;
  text-align: left;
}

.main-logo {
  height: 4.75vh;
  vertical-align: middle;
}

.main-title {
  display: inline-block;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  line-height: normal;
  font-weight: bold;
  font-size: 3.5vh;
}

main {
  background-color: #f6f8f9;
  padding: 2em 5em 2em 5em;
}

.container {
  background-color: white;
  border-radius: 0.5em;
  width: 80%;
  margin: 0 auto;
  padding: 1em 2em 1em 2em;
}

button {
  border-radius: 0.5em;
  border-width: 1.5px;
  font-size: 0.45em;
  padding: 0.5em 1em;
}

#btn-1 {
  background-color: #47adf1;
  border-color: transparent;
  color: white;
}

#btn-2 {
  background-color: transparent;
  border-style: solid;
  border-color: #cacfd4;
  color: #cacfd4;
}