body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 8vh;
  line-height: 7vh;
  padding-left: 0.7em;
  text-align: left;
}

.main-logo {
  height: 4.75vh;
  vertical-align: middle;
}

.main-title {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-weight: bold;
  font-size: 4vh;
}

main {
  background-color: #f6f8f9;
  padding: 2em 5em 2em 5em;
  color: #444851;
}

.top-buttons,
.tasks-section {
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
}

.top-buttons {
  padding: 0.5em 0 0.3em 2em;
  background-color: white;
  border-radius: 0.5em 0.5em 0 0;
  border-bottom: solid;
  border-color: #f6f8f9;
}

button {
  border-radius: 0.5em;
  border-width: 1.5px;
  font-size: 0.45em;
  padding: 0.5em 1em;
}

#btn-1 {
  background-color: #47adf1;
  border-color: transparent;
  color: white;
}

#btn-2 {
  background-color: transparent;
  border-style: solid;
  border-color: #cacfd4;
  color: #cacfd4;
}

.tasks-section {
  position: relative;
  background-color: white;
  border-radius: 0 0 0.5em 0.5em;
  box-sizing: border-box;
  padding: 0.5em 0 0.5em 2em;
}

.task-title {
  position: absolute;
}

span {
  font-size: small;
  font-weight: bold;
  padding: 0 0.2em;
  border: .1em solid;
  border-radius: 50%;
}

.task-data {
  overflow: hidden;
  white-space: nowrap;
}

.task-status-complete {
  color: #65c0a9;
}

.task-status-incomplete {
  color: #ef726a;
}

.task-name {
  display: inline-block;
  padding-bottom: 0.45em;
}

.task-tags {
  display: inline-block;
  color: white;
  font-weight: normal;
  font-size: 0.5em;
  padding: 0.5em 1em;
  border-radius: 1em;
  margin-left: 0.4em;
}

#tag-edit {
  background-color: #45abe9;
}

#tag-goal {
  background-color: #9c72e4;
}

#tag-recru {
  background-color: #64c0a9;
}

#tag-mobile {
  background-color: #f29e33;
}

#tag-web {
  background-color: #d863a1;
}

#tag-sales {
  background-color: #b0c926;
}